@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #6d49cb; }
  .navbar button {
    display: inline-block;
    height: 40px;
    width: 140px;
    font-size: 17px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 6px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 3px; }
    .navbar button:hover {
      border: 2px solid silver;
      transition: .4s; }
  .navbar-div3 {
    width: 50px;
    height: 40px;
    margin-left: 27px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px; }
    .navbar-div3:hover {
      background-color: silver;
      transition: .5s; }
  .navbar-input {
    width: 335px;
    height: 40px;
    margin-left: 44%;
    margin-top: 5px;
    color: silver;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: yellow; }
    .navbar-input:hover {
      background-color: silver; }
  .navbar-div {
    width: 100px;
    height: 44px;
    background-color: #6d49cb;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 8px;
    color: white; }
    .navbar-div-p {
      display: inline-block;
      font-size: 20px;
      margin-left: 5px; }
    .navbar-div:hover {
      background-color: silver;
      transition: .6s;
      cursor: pointer; }
  .navbar-div2 {
    color: white;
    width: 100px;
    height: 44px;
    background-color: #6d49cb;
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
    border-radius: 8px;
    cursor: pointer; }

.open {
  position: absolute;
  display: none;
  width: 200px;
  height: 168px;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin-left: 110px;
  margin-top: 10px;
  box-shadow: 0 2px 4px; }
  .open-1 {
    position: absolute;
    width: 95%;
    height: 30px;
    margin-left: 5px;
    margin-top: 6px;
    border-radius: 5px;
    cursor: pointer; }
    .open-1:hover, .open-1 .active {
      background-color: silver; }

.open4 {
  display: none;
  width: 199px;
  position: absolute;
  height: 220px;
  margin-left: 74%;
  border: 1px solid silver;
  box-shadow: 1px 3px 5px;
  margin-top: 5px; }
  .open4-div {
    width: 96%;
    position: absolute;
    height: 25px;
    margin-left: 4px;
    margin-top: 5px;
    cursor: pointer; }
    .open4-div:hover {
      background-color: silver; }

/* Google Fonts Import Link */
.sidebar {
  display: inline-block;
  position: absolute;
  position: fixed;
  height: 100%;
  width: 260px;
  background: #dbdbdb;
  transition: all 0.5s ease; }

.sidebar.close {
  width: 78px; }

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center; }

.sidebar .logo-details i {
  font-size: 30px;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px; }

.sidebar .logo-details .logo_name {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s; }

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none; }

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto; }

.sidebar.close .nav-links {
  overflow: visible; }

.sidebar .nav-links::-webkit-scrollbar {
  display: none; }

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease; }

.sidebar .nav-links li:hover {
  background: #1d1b31; }

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.sidebar.close .nav-links li .iocn-link {
  display: block; }

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease; }

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg); }

.sidebar.close .nav-links i.arrow {
  display: none; }

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none; }

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: black;
  transition: all 0.4s ease; }

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none; }

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none; }

.sub-menu .link_name:hover {
  background-color: silver; }

.sidebar .nav-links li.showMenu .sub-menu {
  display: block; }

.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease; }

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1; }

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s; }

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease; }

.sidebar .nav-links li .sub-menu .link_name {
  display: none; }

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block; }

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none; }

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%); }

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease; }

.sidebar.close .profile-details {
  background: none; }

.sidebar.close .profile-details {
  width: 78px; }

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center; }

.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease; }

.sidebar.close .profile-details img {
  padding: 10px; }

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap; }

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none; }

.sidebar .profile-details .job {
  font-size: 12px; }

.home-section {
  position: absolute;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease; }

.section-div {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fdf1dd; }
  .section-div-p {
    display: inline-block;
    margin-left: 20px; }
